<app-navbar></app-navbar>

<div class="topBanner">
    <h1>Imp Bot</h1>
    <h2>Play secret santa online or offline.</h2>
</div>

<div class="container">
    <div class="content">
        <p>Imp Bot is an App for playing secret Santa with family and friends without the necessity of getting together. Designed for social distancing during the Covid-19 pandemic.</p>
        <p>It is made with Javascript and uses Rest API for syncronisation.</p>
        
        <div class="imgContainer">
            <img class="preview" src="/assets/img/impBot2.png">
            <img class="preview" src="/assets/img/impBot4.png">
        </div>
   
        <p style="padding-top: 24px;">Below you can start the App or have a look at the code on Git.</p>
        
        <div class="container-btn">
            <a target="_blank" href="http://simon-besendorfer.developerakademie.com/impBot/index.html" class="btn">Start App</a>
        </div>

        <div class="container-btn">
            <a  target="_blank" href="https://github.com/SimonBesendorfer/impBot" class="btn">View Code</a>
        </div>

    </div>


        
</div>




<app-contact-footer></app-contact-footer>
<app-footer></app-footer>