.footer {
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: black;
    color: #949494;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}