<app-navbar></app-navbar>
<div class="topBanner">
    <h1>About me</h1>
    <h2>"Nothing can be loved or hated unless it is first understood." - Leonardo da Vinci</h2>
</div>
<div class="container">
    <div class="title">
        <div>
            <h3>Hello! My name is Simon.</h3>
            <p>I life and work in Austria. Currently in an hospital.</p>
            <p>I've always been intrested in Computers and the logic behind the apps I use every day.
                That's why i started to get an adittional training in coding.</p>
            <p>Lately i leard to build apps and websites with JavaScript and Angular.
                I also leard to create graphics with Affinity Designer and how to use gitHub.</p>
        </div>
        <h2>Skills</h2>
        <div>
        </div>
    </div>
    
    <h3>Here you can see the technologies I am used to work with!</h3>

    <div class="skillsBars">
        <div class="skillDescription">
            Angular
        </div>
        <div class="progressBar">
            <div class="progress" style="width: 75%;">
            </div>
        </div>
    </div>

    <div class="skillsBars">
        <div class="skillDescription">
            Javascript
        </div>
        <div class="progressBar">
            <div class="progress" style="width: 85%;">
            </div>
        </div>
    </div>

    <div class="skillsBars">
        <div class="skillDescription">
            HTML
        </div>
        <div class="progressBar">
            <div class="progress" style="width: 90%;">
            </div>
        </div>
    </div>

    <div class="skillsBars">
        <div class="skillDescription">
            CSS
        </div>
        <div class="progressBar">
            <div class="progress" style="width: 80%;">
            </div>
        </div>
    </div>

    <div class="skillsBars">
        <div class="skillDescription">
            Firebase
        </div>
        <div class="progressBar">
            <div class="progress" style="width: 65%;">
            </div>
        </div>
    </div>

    <div class="skillsBars">
        <div class="skillDescription">
            Github
        </div>
        <div class="progressBar">
            <div class="progress" style="width: 80%;">
            </div>
        </div>
    </div>

    <div class="skillsBars">
        <div class="skillDescription">
            Scrum
        </div>
        <div class="progressBar">
            <div class="progress" style="width: 70%;">
            </div>
        </div>
    </div>

    <div class="title">
        <h2>Curriculum</h2>      
    </div>
    
    <div class="content">
        <h3>2020 till now</h3>
        <p>It was June when i stared to lern coding at developerakademie. I have been charmd how much i could lern is such a short Time. The online course started with the basics of HTML and CSS. After a few weeks I was able to create static coded responsive Websites.</p>
        <p>Corrently I am workin in an trauma center in Salzburg at the intensive care unit.</p>
    </div>

    <div class="content">
        <h3>2014 - 2020</h3>
        <p>After the nursing exam I started to work in the UKH Salzburg at the intensive care unit.</p>
        <p>In 2017 i graduated to "academic expert in intensive care" at Paracelsus Medical University.</p>
    </div>

    <div class="content">
        <h3>2011 -2014</h3>
        <p>Nursing school located in Bad Ischl</p>
    </div>

    <div class="content">
        <h3>2008 - 2011</h3>
        <p>2008 I started with my basic military service mainly based in Salzburg but also everywhere in Austria.</p>
        <p>After the basic military service I started to work as car salesman. First in Salzburg and after a short time i changed the Company, worked in Gmunden for the brands Volkswagen and Audi.</p>
    </div>

    <div class="content">
        <h3>2003 - 2008</h3>
        <p>Comercial Academy - Bad Aussee</p>
    </div>

    <div class="content">
        <h3>1994 -2003</h3>
        <p>Primary and secondary school - Bad Goisern</p>
    </div>

    <div class="content">
        <h3>1988 August</h3>
        <p>Birth</p>
        <img class="birth" src="./assets/img/baby.png">
    </div>

</div>

<app-contact-footer></app-contact-footer>
<app-footer></app-footer>