<app-navbar></app-navbar>
<div class="topBanner">
    <h1>About me</h1>
    <h2>"Nothing can be loved or hated unless it is first understood." - Leonardo da Vinci</h2>
</div>
<div class="container">
    <div class="title">
        <div>
            <h3>Hello! My name is Simon.</h3>
            <p>I life and work in Austria. Currently in an hospital.</p>
            <p>I've always been intrested in Computers and the logic behind the apps I use every day.
                That's why i started to get an adittional training in coding.</p>
            <p>Lately i leard to build apps and websites with JavaScript and Angular.
                I also leard to create graphics with Affinity Designer and how to use gitHub.</p>
        </div>
        <h2>Skills</h2>
        <div>
            <p></p>
        </div>
    </div>
</div>

<app-contact-footer></app-contact-footer>
<app-footer></app-footer>