<app-navbar></app-navbar>

<div class="topBanner">
    <h1>Ring of Fire</h1>
    <h2>A online multiplayer card game using firebase</h2>
</div>

<div class="container">
    <div class="content">
        <p>Ring of Fire is a party card game that keeps in sync using the firebase cloud and hosting services.</p>
        <p>The current version is the first playable release.</p>
        <img class="preview" src="/assets/img/rof1.jpg">
        <p style="padding-top: 24px;">The next planned step is the implementation of a chatroom.</p>
        <img class="preview" src="/assets/img/rof2.jpg">
        <p style="padding-top: 24px;">Below you can start a game or have a look at the code on Git.</p>
        
        <div class="container-btn">
            <a target="_blank" href="https://ring-of-fire-2.firebaseapp.com/" class="btn">Start Game</a>
        </div>

        <div class="container-btn">
            <a  target="_blank" href="https://github.com/SimonBesendorfer/ringoffire2" class="btn">View Code</a>
        </div>
    </div>


        
</div>




<app-contact-footer></app-contact-footer>
<app-footer></app-footer>