<div>
    <nav class="navbar">
        <div class="home">
            <a routerLink="/">
                simonbesendorfer.com
            </a>
        </div>
        <div class="menue hideMobile">
            <a routerLink="/projects" [routerLinkActive]="'is-active'">
                Projects
            </a>
            <a routerLink="/about" [routerLinkActive]="'is-active'">
                About
            </a>
            <a routerLink="/private"  [routerLinkActive]="'is-active'">
                Private
            </a>
            <a routerLink="/contact" [routerLinkActive]="'is-active'">
                Contact
            </a>
            <a routerLink="/imprint" [routerLinkActive]="'is-active'">
                Imprint
            </a>
        </div>

        

        <div class="burgerBtn hideDesktop">
            <div id="menu-bar">
                <div id="menu" (click)="openMenue()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </div>
                <ul class="nav" id="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>


        

        
    </nav>
</div>
