<div>
    <nav class="navbar">
        <div class="home">
            <a routerLink="/">
                simonbesendorfer.com
            </a>
        </div>
        <div class="menue hideMobile">
            <a routerLink="/projects" [routerLinkActive]="'is-active'">
                Projects
            </a>
            <a routerLink="/about" [routerLinkActive]="'is-active'">
                About
            </a>
            <a routerLink="/private"  [routerLinkActive]="'is-active'">
                Private
            </a>
            <a routerLink="/contact" [routerLinkActive]="'is-active'">
                Contact
            </a>
            <a routerLink="/imprint" [routerLinkActive]="'is-active'">
                Imprint
            </a>
        </div>
    </nav>
</div>
