<app-navbar></app-navbar>
<div class="topBanner">
    <h1>Projects</h1>
    <h2>Have a look on some of my created projects.</h2>
</div>

<div class="container">
    <div class="title">
        <h2>Ring of Fire</h2>  
    </div>
    <div class="content">
        <app-ring-of-fire></app-ring-of-fire>
    </div>
</div>

<div class="container">
    <div class="title">
        <h2>Imp Bot</h2>  
    </div>
    <div class="content">
        <app-imp-bot></app-imp-bot>
    </div>
</div>


<div class="container">
    <div class="title">
        <h2>El Pollo Loco</h2>  
    </div>
    <div class="content">
        <app-elpolloloco></app-elpolloloco>
    </div>
</div>

<div class="container">
    <div class="title">
        <h2>Join!</h2>  
    </div>
    <div class="content">
        <app-join></app-join>
    </div>
</div>

<app-contact-footer></app-contact-footer>
<app-footer></app-footer>