<div class="content">
    <div class="containerLeft">
        <img class="preview" src="./assets/img/ringOfFire.png">
    </div>
    <div class="containerRight">
        <h1 style="padding-bottom: 24px;">Ring of Fire</h1>
        <h2 style="padding-bottom: 20px;">A online multiplayer card game</h2>
        <h3 style="padding-bottom: 16px;">Technics:</h3>
        <div class="techLine">
            <img class="icon" src="./assets/img/angular.png">
            <h4>Angular</h4>
        </div>
        <div class="techLine">
            <img  class="icon"src="./assets/img/firebase.png">
            <h4>Firebase</h4>
        </div>
        <div class="techLine">
            <img class="icon" src="./assets/img/typescript.png">
            <h4>Type Script</h4>
        </div>
        <div class="container-btn">
            <a class="btn">view details</a>
        </div>
    </div>
</div>
