<div class="content">
    <div class="containerLeft">
        <img class="preview" src="./assets/img/join.png">
    </div>
    <div class="containerRight">
        <h1 style="padding-bottom: 24px;">Join!</h1>
        <h2 style="padding-bottom: 20px;">Join! has been a group project Web Application. It allows you to manage your tasks like Dwight D. Eisenhower did in 1953.</h2>
        <h3 style="padding-bottom: 16px;">Technics:</h3>
        <div class="techLine">
            <img class="icon" src="./assets/img/javascript.png">
            <h4>Javascript</h4>
        </div>
        
        <div class="techLine">
            <img class="icon" src="./assets/img/api.png">
            <h4>Rest API</h4>
        </div>

        <div class="techLine">
            <img class="icon" src="./assets/img/code.png">
            <h4>HTML 5 and CSS 3</h4>
        </div>
        <div class="container-btn">
            <a class="btn">view details</a>
        </div>
    </div>
</div>