<app-navbar></app-navbar>

<div class="topBanner">
    <h1>El Pollo Loco</h1>
    <h2>Pelt the Chicken - a Jump and Run game made with Javascript.</h2>
</div>

<div class="container">
    <div class="content">
        <p>El Pollo Loco is a comic styled Jump and Run game.</p>
        <p>The Character has to collect Tabasco bottles and throw it on the Chicken Boss to win the game.</p>
        <img class="preview" src="/assets/img/elpolloloco2.jpg">
       
        <p style="padding-top: 24px;">Below you can start a game or have a look on the code on Git.</p>
        
        <div class="container-btn">
            <a target="_blank" href="https://simonbesendorfer.com/elpolloloco/" class="btn">Start Game</a>
        </div>

        <div class="container-btn">
            <a  target="_blank" href="https://github.com/SimonBesendorfer/El-Pollo-Loco" class="btn">View Code</a>
        </div>
    </div>


        
</div>




<app-contact-footer></app-contact-footer>
<app-footer></app-footer>