.title {
    width: 80vw;
    border-bottom: 4px solid #c2c2c2;
    
}

.container {
    display: flex;
    width: 100vw;
    justify-content: center;
    color:  #252525;
    padding-top: 60px;
    padding-bottom: 60px;
}