<app-navbar></app-navbar>

<div class="topBanner">
    <h1>Join!</h1>
    <h2>Manage you tasks like Eisenhower did it.</h2>
</div>

<div class="container">
    <div class="content">
        <p>Join! has been a group project made with two other developer academy students.</p>
        <p>The version control was made with git, and the team meetings has been weekly via zoom.</p>
        <p>Ther has been a lot of learnigs. We used the first time rest API and had to manage merge conflicts.</p>
        <img class="preview" src="/assets/img/join2.jpg">
        <p style="padding-top: 24px;">Below you can start a game or have a look on the code on Git.</p>
        
        <div class="container-btn">
            <a target="_blank" href="https://simonbesendorfer.com/join" class="btn">Start App</a>
        </div>

        <div class="container-btn">
            <a  target="_blank" href="https://github.com/SimonBesendorfer/Join" class="btn">View Code</a>
        </div>
    </div>


        
</div>




<app-contact-footer></app-contact-footer>
<app-footer></app-footer>