<div class="contact-footer">
    <div class="container-left">
        <h1>Let's make something great!</h1>
        <h3>Feel free to get in contact on any platform.</h3>
        <div class="container-btn">
            <a routerLink="/contact" class="btn">Get in Touch</a>
        </div>
    </div>
    <div class="container-right">
        <div class="social-link">
            <img src="./assets/img/facebook.png"><a target="_blank" href="https://www.facebook.com/simon.besendorfer">Facebook</a>
        </div>
        <div class="social-link">
            <img src="./assets/img/linked.png"><a target="_blank" href="https://www.linkedin.com/in/simon-besendorfer-649a631aa">LinkedIn</a>
        </div>
        <div class="social-link">
            <img src="./assets/img/insta.png"><a target="_blank" href="https://www.instagram.com/simonbesendorfer/">Instagram</a>
        </div>
        <div class="social-link">
            <img src="./assets/img/github.png"><a target="_blank" href="https://github.com/SimonBesendorfer">Github</a>
        </div>
    </div>
</div>