<app-navbar></app-navbar>

<div class="topBanner">
    <h1>Privat life</h1>
    <h2>"If you want something you've never had, you have to do something, you've never done!" - Steve Jobs</h2>
</div>


<div class="container">
    <div class="title">
        <p>Maybe you want to get a closer look at me. Below you can see how I spend my free time!</p>
        <h2>Sailing</h2>
    </div>
    <div class="content">
        <div class="mobileColumn">
            <div class="mobileColumn">
                <img src="./assets/img/sailing1.jpg">
                <img src="./assets/img/sailing3small.jpg">
            </div>
            <div  class="mobileColumn" style="display: flex;">
                <img style="height: 100%;" src="./assets/img/sailing2.jpg">
                <div class="mobileText" style="padding: 2%;">
                    <h3>Sailing is my passion!</h3>
                    <p>
                        There is no better way to spend a vacation than on a sailing ship.
                    </p>
                    <p>
                        You throw the ropes and leave the save harbour for a unique adventure.
                    </p>
                    <p>
                        Sailing teaches you every time you are on the see a lesson in humility. On the sea, you are very
                        weak and insignificant against the force of nature!
                    </p>
                    <p>
                        It seems to be very uncomfortable to stay with others on a very small yacht.
                        But I believe that exactly this fact is necessary to leave the ship not as a stranger
                        in the end, but as friends.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="title">
        <h2>Ski hiking</h2>
    </div>
    <div class="content">
        <div>
            <div>
                <img style="height: 100%;" src="./assets/img/ski1small.jpg">
                <img style="height: 100%;" src="./assets/img/ski2small.jpg">
            </div>
            <div style="display: flex;">
                <div class="mobileText" style="padding: 2%;">
                    <h3>Austria without Skis? No Way!</h3>
                    <p>
                        Some clichés have to be fulfilled.
                    </p>
                    <p>
                        The world certainly thinks that every Austrian is born with skis on.
                    </p>
                    <p>
                        Ski hiking is probably the most sustainable way to move through the alps in winter. It also keeps you fit and you can reach the most remote, quiet and beautiful places.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="title">
        <h2>Wood working</h2>
    </div>
    <div class="content">
        <div>
            <div  class="mobileColumn" style="display: flex;">
                <img style="height: 100%;" src="./assets/img/woodwork_small.jpg">
                <div class="mobileText" style="padding: 2%;">
                    <h3>What could be more unique than hand crafted furniture?</h3>
                    <p>
                        I am one of three children. Since my father is a carpenter, I discovered my love for wood in my early childhood.
                    </p>
                    <p>  
                        Later I learned to work with machines myself to build unique furniture myself.
                    </p>
                    <p>
                        In the picture, you can see one of my favourite pieces.
                    </p>
                </div>
            </div>
        </div>
    </div>




</div>

<app-contact-footer></app-contact-footer>
<app-footer></app-footer>